html {
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Source Sans Pro, Helvetica, Arial;
}

body {
	background: #292d35;
	height: 100%;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hidden {
	display: none;
}


/* Header bar */
/* -------------------------------------------------- */

body > header {
	background: #111;
	color: #fff;
	font-size: 1.1em;
	height: 45px;
	overflow: hidden;
	width: 100%;
	z-index: 50000;
}

body > header span {
	color: #777;
	margin: 0 15px;
	text-transform: uppercase;
}

body > header a {
	color: #fff;
	display: inline-block;
	padding: 18px 15px 10px;
	text-decoration: none;
}

body > header a:hover {
	color: #e0ffaa;
	background: #444;
}


/* Main (below header) */
/* -------------------------------------------------- */

body #main {
	height: calc(100% - 45px);
}


/* Content */
/* -------------------------------------------------- */

body #main.page {
	padding-top: 2em;
	padding-bottom: 5em;
}

body #main.page .container {
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
	margin: 0px auto;
	max-width: 750px;
}

body #main.page > header {
	background: #325781;
	border-radius: 3px 3px 0 0;
	color: #fff;
	padding: 30px 35px 10px;
	height: 70px;
}

body #main.page.error > header {
	background: #962f2f;
}

body #main.page > header h1 {
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1.2em;
	margin: 0;
}

body #main.page > header a {
	color: #a6c9ec;
	float: right;
	margin-top: 7px;
	text-decoration: none;
}

body #main.page > header a:hover {
	color: #fff;
}

body #main.page p.message {
	background: #f9d9d9;
	border-radius: 3px;
	color: #a81111;
	margin: 0 0 2em 0;
	padding: 10px 14px;
}

body #main.page #content {
	background: #fff;
	border-radius: 0 0 3px 3px;
	margin-bottom: 100px;
	min-height: 1em;
	padding: 35px;
}

body #main.page #content form {
	font-size: 1.2em;
	overflow: hidden;
}

body #main.page #content form fieldset {
	border: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	padding-bottom: 10px;
}

body #main.page #content form fieldset + fieldset {
	border-top: solid 1px #ccc;
	margin-top: 2em;
	padding-top: 2em;
}

body #main.page #content form a {
	color: #4d86c7;
	text-decoration: none;
}

body #main.page #content form a:hover {
	color: #333;
}

body #main.page #content form label {
	font-size: 1.05em;
	float: left;
	width: 20%;
}

body #main.page #content form section {
	float: left;
	width: 65%;
}

body #main.page #content form span.saved {
	background: #eee;
	border-radius: 3px;
	color: #bbb;
	display: none;
	float: left;
	font-size: .8em;
	font-style: italic;
	margin-left: 7%;
	padding: 3px 8px;
	text-align: center;
	width: 8%;
}

body #main.page #content form span.saved.error {
	color: #fff;
	background: #f00;
}

body #main.page #content form div.group {
	overflow: hidden;
}

body #main.page #content form div.group + div.group {
	margin-top: 10px;
}

body #main.page #content form div.group + input[type=submit] {
	margin-top: 15px;
}

body #main.page #content form div.user {
	color: #2570ae;
}

body #main.page #content form div.user + div.user {
	margin-top: .35em;
}

body #main.page #content form div.user span.delete {
	-moz-user-select: none;
	-webkit-user-select: none;
	color: #aaa;
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
	user-select: none;
}

body #main.page #content form div.user span.delete:hover {
	color: #333;
}

body #main.page #content form div.userlist div.user:last-child {
	margin-bottom: 1em;
}

body #main.page #content form input[type=text],
	body #main.page #content form input[type=email],
	body #main.page #content form input[type=password] {
	border-radius: 3px;
	border: solid 1px #bbb;
	font-size: 1em;
	padding: 2px 5px;
}

body #main.page #content form input[type=text]:focus,
	body #main.page #content form input[type=email]:focus,
	body #main.page #content form input[type=password]:focus {
	outline: none;
	border-color: #666;
}

body #main.page #content form input[type=text].name {
	font-size: 1.2em;
	padding: 4px 8px;
	width: 100%;
}

body #main.page #content form input.button {
	background: #729948;
	border-radius: 3px;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: .9em;
	padding: 3px 12px 4px;
	box-shadow: 0 0 5px #ddd;
}

body #main.page #content form input.button.spaced {
	display: block;	
	margin-top: 2em;
}

body #main.page #content form input[type=text] + input.button {
	margin-left: 3px;
}

body #main.page #content form input.button:hover {
	background: #41621e;
}

body #main.page #content form div.item {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	overflow: hidden;
	padding: 8px 12px;
}

body #main.page #content form div.item a {
	color: #1a303f;
	text-decoration: none;
}

body #main.page #content form div.item a:hover {
	color: #459ad7;
}

body #main.page #content form div.item.new {
	background: #f4ffcc;
}

body #main.page #content form div.item + div.item {
	margin-top: .5em;
}

body #main.page #content form div.item:last-child {
	margin-bottom: 1em;
}

body #main.page #content form div.item .controls {
	color: #bbb;
	float: right;
}

body #main.page #content form div.item .controls span:hover {
	color: #333;
}

body #main.page #content form div.item .controls span + span {
	margin-left: .5em;
}

body #main.page #content form div.item.placeholder {
	background: #ddd;
	border-radius: 3px;
	box-shadow: none;
	display: block;
	height: 2em;
	margin-top: .5em;
	padding: 8px 12px;
}


/* Transcription */
/* -------------------------------------------------- */

body #main.transcribe header {
	background: #436883;
	color: #fff;
	height: 50px;
	padding: 10px 15px;
	border-bottom: solid 1px #203751;
}

body #main.transcribe header label {
	color: #aac7d8;
	display: inline-block;
	padding: 3px 10px 4px;
	margin-right: 10px;
}

body #main.transcribe header span {
	-moz-user-select: none;
	-webkit-user-select: none;
	background: #4991bd;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	display: inline-block;
	padding: 3px 10px 4px;
	user-select: none;
}

body #main.transcribe header span:hover {
	background: #00436c;
}

body #main.transcribe header span + span {
	margin-left: 10px;
}

body #main.transcribe .wrapper {
	-webkit-flex-direction: column;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	height: calc(100% - 51px);
}

body #main.transcribe .item {
	-webkit-flex: 1.3;
	flex: 1.3;
	overflow: scroll;
	width: 100%;
}

body #main.transcribe .item.image img {
	-webkit-transition: max-width .25s ease-in-out;
	display: block;
	margin: 0px auto;
	max-width: 1200px; /* Default */
	transition: max-width .25s ease-in-out;
}

body #main.transcribe .item.audio {
	-webkit-flex: 0.7;
	flex: 0.7;
}

body #main.transcribe .item.audio .mejs-container {
	margin: 40px auto;
}

@media screen and (min-height: 800px) {
	body #main.transcribe .item.audio.side-by-side {
		-webkit-flex: 0.4;
		flex: 0.4;
	}
}

@media screen and (max-height: 600px) {
	body #main.transcribe .item.audio.side-by-side ul.instructions {
		display: none;
	}
}

@media screen and (min-height: 1000px) {
	body #main.transcribe .item.audio.side-by-side {
		-webkit-flex: 0.3;
		flex: 0.3;
	}
}

body #main.transcribe .item.audio ul.instructions {
	-webkit-column-count: 2;
	column-count: 2;
	color: #8ba4b6;
	font-size: .9em;
	line-height: 1.7em;
	list-style: none;
	margin: 40px auto;
	max-width: 480px;
}

@media screen and (max-width: 1100px) {
	body #main.transcribe .item.audio ul.instructions {
		-webkit-column-count: 1;
		column-count: 1;
	}
}

body #main.transcribe .transcript {
	-webkit-flex: 1;
	border-top: solid 1px #888;
	flex: 1;
	position: relative;
	width: 100%;
}

body #main.transcribe .transcript textarea {
	border: none;
	font-size: 1.6em;
	height: 100%;
	line-height: 1.4em;
	margin: 0;
	padding: 25px;
	position: absolute;
	width: 100%;
}

body #main.transcribe .transcript textarea:focus {
	outline: none;
}


/* Side-by-side */
/* -------------------------------------------------- */

body #main.transcribe.side-by-side .wrapper {
	-webkit-flex-direction: row;
	flex-direction: row;
}

body #main.transcribe.side-by-side .item {
	height: 100%;
	max-height: 100%;
}

body #main.transcribe.side-by-side .transcript {
	border-left: solid 1px #888;
	border-top: none;
	height: 100%;
}


/* Dark mode */
/* -------------------------------------------------- */

body.dark #main.transcribe header {
	background: #333;
	border-bottom-color: #444;
}

body.dark #main.transcribe header span {
	background: #2e4e61;
}

body.dark #main.transcribe header label {
	color: #777;
}

body.dark #main.transcribe .transcript textarea {
	background: #111;
	color: #aaa;
}


/* Dashboard */
/* -------------------------------------------------- */

#main.page.dashboard #content {
	background: #5f7b9b;
}

.dashboard-empty {
	background: #4b6480;
	border-radius: 3px;
	color: #d1e8f2;
	font-style: italic;
	padding: 5px 12px 6px;
}

.dashboard-entry {
	background: #fff;
	border-left: solid 20px #999;
	border-radius: 3px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	color: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	padding: 12px 15px 14px;
}

.dashboard-entry + .dashboard-entry {
	margin-top: 15px;
}

.dashboard-entry.item {
	border-left-color: hsl(96, 29%, 60%);
}

.dashboard-entry.project {
	border-left-color: hsl(35, 56%, 65%);
}

.dashboard-entry.project.owner {
	border-left-color: hsl(5, 56%, 65%);
}

.dashboard-entry .info {
	color: #aaa;
	margin-bottom: .4em;
	font-weight: 400;
	font-size: .8em;
	font-style: italic;
	line-height: 1.1em;
}

.dashboard-entry label {
	display: inline-block;
	font-style: normal;
	letter-spacing: 0.02em;
	margin-right: 8px;
	text-transform: uppercase;
}

.dashboard-entry.item label {
	color: hsl(96, 29%, 60%);
}

.dashboard-entry.project label {
	color: hsl(5, 56%, 65%);
}
.dashboard-entry.project label {
	color: hsl(5, 56%, 65%);
}

.dashboard-entry h2 {
	font-weight: 400;
	font-size: 1.2em;
	margin: 0;
	margin-bottom: .25em;
}

.dashboard-entry h2 a {
	color: #1a303f;
	text-decoration: none;
}

.dashboard-entry h2 a:hover {
	color: #459ad7;
}

.dashboard-entry h3 {
	color: #aaa;
	font-weight: 400;
	font-size: .8em;
	font-style: italic;
	line-height: 1.1em;
	margin: 0;
}

.dashboard-entry .controls {
	margin-top: 6px;
}

.dashboard-entry .controls .action {
	color: #459ad7;
	padding: 3px 6px 5px;
	text-decoration: none;
}

.dashboard-entry .controls .action:hover {
	color: #444;
}

.dashboard-entry .controls .button {
	background: #266cbd;
	border-radius: 3px;
	color: #fff;
	padding: 3px 10px 5px;
	text-decoration: none;
}

.dashboard-entry .controls .button:hover {
	background: #0f427c;
	color: #fff;
}

.dashboard-entry .controls .action:not(.button) + .button {
	margin-left: 8px;
}

.dashboard-entry .controls .cancel {
	color: rgba(0, 0, 0, 0.3);
	display: block;
	font-size: .7em;
	margin-top: 1.0em;
	text-align: right;
	text-decoration: none;
}

.dashboard-group + .dashboard-group {
	margin-top: 3em;
}

.dashboard-group a.right {
	color: #afd0e5;
	font-size: .9em;
	text-decoration: none;
}

.dashboard-group a.right:hover {
	color: #fff;
}

.dashboard-group h1 {
	color: #fff;
	font-size: 1.1em;
	font-weight: normal;
	margin: 0 0 .5em 0;
}

.dashboard-projects a.new-project {
	background: hsl(5, 56%, 65%);
	border-radius: 3px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-top: 1em;
	padding: 3px 10px 5px;
	text-decoration: none;
}

.dashboard-projects a.new-project:hover {
	background: hsl(5, 59%, 54%);
}

.dashboard-projects .dashboard-entry + a.new-project {
	margin-top: 2em;
}


/* New/Edit Project */
/* -------------------------------------------------- */

form.edit-project fieldset {
	opacity: 1.0;
	transition: opacity .5s ease-in-out;
}

form.edit-project.new fieldset.faded {
	opacity: 0.2;
}

#main.page #content form.edit-project section a.delete-project-link {
	color: #d24304;
	font-size: .8em;
}

#main.page #content form.edit-project section a.delete-project-link:hover {
	color: #333;
}



/* Project Details */
/* -------------------------------------------------- */

.project-details {
	padding-bottom: 50px;
}

.project-details h1 {
	font-size: 1.8em;
	font-weight: normal;
	letter-spacing: -0.01em;
	margin: 0 0 2em 0;
}

.project-details a.edit {
	float: right;
	color: #4d86c7;
	text-decoration: none;
}

.project-details a.edit:hover {
	color: #111;
}

.project-details .group {
	font-size: 1.2em;
	overflow: hidden;
}

.project-details .group + .group {
	border-top: solid 1px #ddd;
	margin-top: 1.5em;
	padding-top: 1.5em;
}

.project-details .group label {
	font-size: 1.1em;
	float: left;
	width: 20%;
}

.project-details .group section {
	float: left;
	width: 65%;
}

.project-details .group section a {
	color: #4d86c7;
	text-decoration: none;
}

.project-details .group section a:hover {
	color: #111;
}

.project-details .group section ul {
	margin: 0;
	padding: 0;
}

.project-details .group section ul li + li {
	margin-top: .35em;
}

.project-details .group section ul li {
	list-style: none;
}

.project-details .group section ul li ul li {
	font-size: .9em;
	font-style: italic;
	list-style: circle;
}

.project-details .group section b {
	font-weight: 600;
}

.project-details .group section ul.items li ul {
	color: #888;
	font-size: .9em;
	margin-left: 2em;
	margin-top: .5em;
}

.project-details .group section ul.items li ul li + li {
	margin-top: .1em;
}


/* Modal */
/* -------------------------------------------------- */

.modal-background {
	background: rgba(0, 0, 0, 0.8);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 60000;
}

.modal {
	display: none;
	margin: 50px auto;
	position: fixed;
	top: 0;
	left: 30%;
	right: 30%;
	z-index: 65000;
}

.modal form {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
	max-width: 450px;
	width: 450px;
	padding: 25px;
}

.modal form a.cancel-link {
	color: #888;
	cursor: pointer;
	float: right;
	font-size: .9em;
	text-decoration: none;
}

.modal form a.cancel-link:hover {
	color: #000;
}

.modal form h2 {
	font-size: 1.3em;
	font-weight: normal;
	margin: 0 0 .75em 0;
}

.modal form.error h2 {
	color: #f00;
}

.modal form h3 {
	font-size: 1.15em;
	font-weight: normal;
	margin: 0 0 .75em 0;
}

.modal form input[type=text] {
	border-radius: 3px;
	border: solid 1px #bbb;
	font-size: 1em;
	font-weight: bold;
	padding: 2px 5px;
	width: 100%;
}

.modal form input[type=text] + p {
	margin-top: .5em;
}

.modal form input[type=submit] {
	-webkit-appearance: none;
	background: #5997d6;
	border-radius: 3px;
	border: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: .9em;
	margin-top: 1.5em;
	padding: 5px 10px 6px;
}

.modal form input[type=submit]:hover {
	background: #000;
}


/* Add Items */
/* -------------------------------------------------- */

.modal form.add-items {
	max-width: 650px;
	padding: 0;
}

.modal form.add-items header {
	border-bottom: solid 1px #d0d0d0;
	padding: 25px;
	padding-bottom: 15px;
}

.modal form.add-items header h2 {
	margin-bottom: 0;
}

.modal form.add-items section {
	background: #eee;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}

.modal form.add-items section ul {
	background: #eee;
	border-radius: 0 0 0 5px;
	float: left;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 160px;
}

.modal form.add-items section ul li {
	list-style: none;
}

.modal form.add-items section ul li span {
	color: #4a627e;
	cursor: pointer;
	display: block;
	font-size: 1.1em;
	padding: 8px 25px;
}

.modal form.add-items section ul li span:hover {
	background: #444;
	color: #fff;
}

.modal form.add-items section ul li span.selected {
	background: #2e536e;
	color: #fff;
}

.modal form.add-items section .main {
	background: #fff;
	border-left: solid 1px #ddd;
	float: left;
	min-height: 200px;
	padding: 20px 25px;
	width: calc(100% - 160px);
}

.modal form.add-items section .main article {
	display: none;
}

.modal form.add-items section .main article .importing {
	color: #7b9fd7;
	display: none;
	font-style: italic;
	margin: 1em 0 .5em;
}

.modal form.add-items section .main article .audio-list {
	display: none;
}

.modal form.add-items section .main article:first-child {
	display: block;
}


/* Add User autocomplete */
/* -------------------------------------------------- */

.autocomplete-suggestions {
	background: #fff;
	border: solid 1px #bbb;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 2px 2px #ddd;
}

.autocomplete-suggestions .autocomplete-suggestion {
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
	padding: 5px 8px 7px;
}

.autocomplete-suggestions .autocomplete-suggestion + .autocomplete-suggestion {
	border-top: solid 1px #ddd;
}

.autocomplete-suggestions .autocomplete-suggestion:hover {
	background: #eee;
}


/* Messages and errors */
/* -------------------------------------------------- */

.message {
	background: #eee;
	font-size: 1.2em;
	margin-bottom: 1em;
	padding: 11px 13px;
}

.message.success {
	background: #d7f9c4;
	color: #4f8623;
}

.message.error {
	background: #f9c4c4;
	color: #b30707;
}

ul.errorlist {
	list-style: none;
	padding: 0;
}

ul.errorlist li {
	background: #f9c4c4;
	color: #b30707;
	padding: 11px 13px;
}


/* Audio upload */
/* -------------------------------------------------- */

.add-items h4 {
	color: #555;
	font-weight: normal;
	margin-bottom: 0;
}

.add-items .controls {
	color: #444;
	font-size: .9em;
	line-height: 1.1em;
	margin-top: 5px;
	padding-left: 1.5em;
	position: relative;
}

.add-items .controls input[type=checkbox] {
	float: left;
	position: absolute;
	left: 0;
}

.add-items .controls input[type=text] {
	border: none;
	border-bottom: solid 1px #ccc;
	border-radius: 0;
	display: inline;
	padding: 0;
	width: 1.5em;
}

.add-items .controls input[type=text]:focus {
	border-bottom-color: #3fa0ff;
	outline: none;
}


/* Percentage bars */
/* -------------------------------------------------- */

.percentage {
	border: solid 1px #4d9083;
	height: .8em;
	margin-top: .5em;
	width: 150px;
}

.percentage .value {
	background: #4d9083;
	display: inline-block;
	float: left;
	height: 100%;
}


/* Tool menus */
/* -------------------------------------------------- */

body #main.transcribe header div {
	position: relative;
}

body #main.transcribe header .tools-menu {
	background: #333;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	color: #fff;
	display: none;
	margin-top: 5px;
	min-width: 250px;
	position: absolute;
	right: 0;
	z-index: 80000;
}

body #main.transcribe header .tools-menu .tool-group {
	padding: 12px 15px;
}

body #main.transcribe header .tools-menu .tool-group:first-child {
	padding-top: 10px;
}

body #main.transcribe header .tools-menu label {
	display: block;
	margin-bottom: 3px;
	padding: 0;
}

body #main.transcribe header .tools-menu select {
	display: block;
	width: 100%;
}

/* Zoom */
body #main.transcribe.zoom-default .item.image img {
	max-width: 1200px;
}

body #main.transcribe.zoom-full .item.image img {
	max-width: none;
}

body #main.transcribe.zoom-25 .item.image img {
	max-width: 25%;
}

body #main.transcribe.zoom-50 .item.image img {
	max-width: 50%;
}

body #main.transcribe.zoom-75 .item.image img {
	max-width: 75%;
}

body #main.transcribe.zoom-100 .item.image img {
	max-width: 100%;
}

body #main.transcribe.zoom-150 .item.image img {
	max-width: 150%;
}

body #main.transcribe.zoom-200 .item.image img {
	max-width: 200%;
}

body #main.transcribe.zoom-300 .item.image img {
	max-width: 300%;
}

body #main.transcribe.zoom-400 .item.image img {
	max-width: 400%;
}
