{% extends "page.html" %}

{% block title %}Log In{% endblock title %}

{% block content %}

{% if form.errors %}
<p class="message">Your email and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'accounts:login' %}">
	{% csrf_token %}
	<div class="group">
		<label>{{ form.email.label_tag }}</label>
		<section>
			{{ form.email }}
		</section>
	</div>

	<div class="group">
		<label>{{ form.password.label_tag }}</label>
		<section>
			{{ form.password }}
		</section>
	</div>
	
	<input type="submit" value="Login" class="button" />
	<input type="hidden" name="next" value="{{ form.next_url }}" />
</form>

{% endblock %}
