{% extends 'page.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block page_link %}{% if type == 'edit' %}<a href="{% url "project" project.id %}">&larr; Back</a>{% endif %}{% endblock page_link %}

{% block content %}
<form class="edit-project {{ type }}">
	<fieldset id="name-fieldset">
		<label>Name</label>
		<section>
			<input type="text" class="name" autofocus {% if project %}value="{{ project.name }}" data-id="{{ project.id }}"{% endif %}/>
		</section>
		<span class="saved"></span>
	</fieldset>

	<fieldset id="user-list" class="faded">
		<label>Users</label>
		<section>
			<div class="userlist" data-project-id="{{ project.id }}">
				{% for user in project.users.all %}
				<div class="user" data-email="{{ user.email }}">{% if user.name %}{{ user.name }} ({{ user.email }}){% else %}{{ user.email }}{% endif %} <span class="delete">x</span></div>
				{% endfor %}
			</div>

			<input id="add-user-autocomplete" type="text" />
			<input id="add-user-button" type="submit" class="button" value="Add" />
			<input type="hidden" name="user-email" />
		</section>
		<span class="saved"></span>
	</fieldset>

	<fieldset class="faded">
		<label>Items</label>
		<section>
			{% for item in project.items.all %}
			<div class="item" data-id="{{ item.id }}">
				<span>{{ item.name }}</span>
				<div class="controls">
					<span class="delete">x</span>
					<span class="edit">e</span>
					<span class="reorder">=</span>
				</div>
			</div>
			{% endfor %}
			<div class="item">
				<span>page-01.jpg</span>
				<div class="controls">
					<span class="delete">x</span>
					<span class="edit">e</span>
					<span class="reorder">=</span>
				</div>
			</div>

			<input id="add-items-button" type="button" class="button" value="Add Items" />
		</section>
		<span class="saved"></span>
	</fieldset>
</form>
{% endblock content %}

{% block modal %}
<form class="add-items">
	<header>
		<a class="cancel-link">Cancel</a>
		<h2>Add Items</h2>
	</header>

	<section data-project-id="{{ project.id }}">
		<ul>
			<li><span data-type="dropbox" class="selected">Dropbox</span></li>
			<li><span data-type="flickr">Flickr</span></li>
		</ul>

		<div class="main">
			<article data-type="dropbox">
				<h2>Dropbox Import</h2>
				<input type="submit" value="Import Items" />
			</article>
			<article data-type="flickr">
				<h2>Flickr Import</h2>
				<input type="submit" value="Import Items" />
			</article>
		</div>
	</section>
</form>
{% endblock modal %}
