{% extends "page.html" %}

{% block title %}Dashboard{% endblock title %}

{% block mainclass %}page dashboard{% endblock mainclass %}

{% block content %}

<div class="dashboard-entry item">
	<div class="controls right">
		<a class="action" href="">Continue Transcribing</a>
	</div>

	<div class="info"><label>item</label> Grandmother's Journals</div>
	<h2>page-023</h2>
	<h3>Saved 5:45 pm, 28 Sep 2014</h3>
</div>

<div class="dashboard-entry item">
	<div class="controls right">
		<a class="action" href="">Continue Transcribing</a>
	</div>

	<div class="info"><label>item</label> Grandpa's Will</div>
	<h2>page-1</h2>
	<h3>Saved 9:31 am, 7 Jan 2014</h3>
</div>

<div class="dashboard-entry project">
	<div class="controls right">
		<a class="action" href="">Get Item</a>
	</div>

	<div class="info"><label>project</label> 4 items left, 3 transcribers</div>
	<h2>2007 Journal</h2>
	<div class="percentage"><div class="value" style="width: 30%;"></div></div>
</div>

<section class="dashboard-projects">
	<a class="right" href="{% url "archived_projects" %}">Archived Projects</a>
	<h1>Your Active Projects</h1>

	{% for project in projects %}
	<div class="dashboard-entry project">
		<div class="controls right">
			<a class="action" href="{% url 'project' project.id %}">Manage</a>
			<a class="action" href="{% url 'review_project' project.id %}">Review</a>
			<a class="action" href="">Get Item</a>
		</div>

		<div class="info"><label>project</label> 28 items left, 1 transcriber</div>
		<h2>{{ project.name }}</h2>
		<div class="percentage"><div class="value" style="width: 81%;"></div></div>
	</div>
	{% endfor %}

	<a class="new-project" href="{% url 'new_project' %}">Create Project</a>
</section>

{% endblock %}
