{% extends "page.html" %}

{% block title %}Dashboard{% endblock title %}

{% block mainclass %}page dashboard{% endblock mainclass %}

{% block content %}

<section class="dashboard-items dashboard-group">
	<a class="right" href="{% url "archived_items" %}">Archived Items</a>
	<h1>Your Active Items</h1>

    {% for item in items %}
	<div class="dashboard-entry item">
		<div class="controls right">
            <a class="action button" href="{% url "transcribe_item" item.project.id item.id %}">Transcribe</a>
		</div>

        <div class="info"><label>item</label> {{ item.project.name }}</div>
		<h2><a href="{% url "transcribe_item" item.project.id item.id %}">{{ item.name }}</a></h2>
        {% if item.latest_transcript %}
        <h3>Saved {{ item.latest_transcript.date|date:"g:i a, j M Y" }}</h3>
        {% endif %}
	</div>
	{% empty %}
	<div class="dashboard-empty">
		No items. {% if projects|length > 0 %}Click "Get Item" below to transcribe an item.{% else %}Click "Create Project" below to start a project.{% endif %}
	</div>
    {% endfor %}
</section>

<section class="dashboard-projects dashboard-group">
	<a class="right" href="{% url "archived_projects" %}">Archived Projects</a>
	<h1>Your Active Projects</h1>

	{% for project in projects %}
	<div class="dashboard-entry project{% if project.owner == request.user %} owner{% endif %}">
		<div class="controls right">
			{% if project.owner == request.user %}
			<a class="action" href="{% url 'review_project' project.id %}">Review</a>
            {% endif %}
            {% if project.items_left > 1 %}
			<a class="action button" href="{% url 'get_next_item' project.id %}">Get Item</a>
            {% endif %}
		</div>

        <div class="info"><label>project</label> {{ project.items_left }} of {{ project.items.all|length }} item{% if project.items.all|length != 1 %}s{% endif %} left, {{ project.users.all|length }} transcriber{% if project.users.all|length != 1 %}s{% endif %}</div>
		<h2><a href="{% url 'project' project.id %}">{{ project.name }}</a></h2>
        <div class="percentage"><div class="value" style="width: {{ project.percentage_done }}%;"></div></div>
	</div>
	{% endfor %}

	<a class="new-project" href="{% url 'new_project' %}">Create Project</a>
</section>

{% endblock %}
