{% extends "page.html" %}

{% block title %}Dashboard{% endblock title %}

{% block mainclass %}page dashboard{% endblock mainclass %}

{% block content %}

<section class="dashboard-items dashboard-group">
	<a class="right" href="{% url "archived_projects" %}">Archived Items</a>
	<h1>Your Active Items</h1>

	<div class="dashboard-entry item">
		<div class="controls right">
			<a class="action button" href="">Transcribe</a>
		</div>

		<div class="info"><label>item</label> Grandmother's Journals</div>
		<h2>page-023</h2>
		<h3>Saved 5:45 pm, 28 Sep 2014</h3>
	</div>

	<div class="dashboard-entry item">
		<div class="controls right">
			<a class="action button" href="">Transcribe</a>
		</div>

		<div class="info"><label>item</label> Grandpa's Will</div>
		<h2>page-1</h2>
		<h3>Saved 9:31 am, 7 Jan 2014</h3>
	</div>
</section>

<section class="dashboard-projects dashboard-group">
	<a class="right" href="{% url "archived_projects" %}">Archived Projects</a>
	<h1>Your Active Projects</h1>

	{% for project in projects %}
	<div class="dashboard-entry project">
		<div class="controls right">
			{% if project.owner == request.user %}
			<a class="action" href="{% url 'review_project' project.id %}">Review</a>
            {% endif %}
			<a class="action button" href="{% url 'get_next_item' project.id %}">Get Item</a>
		</div>

		<div class="info"><label>project</label> {{ project.items.all|length }} item{% if project.items.all|length != 1 %}s{% endif %} left, {{ project.users.all|length }} transcriber{% if project.users.all|length != 1 %}s{% endif %}</div>
		<h2><a href="{% url 'project' project.id %}">{{ project.name }}</a></h2>
		<div class="percentage"><div class="value" style="width: 81%;"></div></div>
	</div>
	{% endfor %}

	<a class="new-project" href="{% url 'new_project' %}">Create Project</a>
</section>

{% endblock %}
