{% extends 'page.html' %}

{% block title %}New Project{% endblock title %}

{% block content %}
<form class="edit-project">
	<fieldset id="title-fieldset">
		<label>Title</label>
		<section>
			<input type="text" class="title" />
		</section>
		<span class="saved">Saved</span>
	</fieldset>

	<fieldset class="faded">
		<label>Users</label>
		<section>
			<div class="user">Name (email address) <span class="delete">x</span></div>

			<input type="text" /> <input type="submit" class="button" value="Add" />
		</section>
		<span class="saved">Saved</span>
	</fieldset>

	<fieldset class="faded">
		<label>Items</label>
		<section>
			<div class="item">
				<span>page-01.jpg</span>
				<div class="controls">
					<span class="delete">x</span>
					<span class="edit">e</span>
					<span class="reorder">=</span>
				</div>
			</div>

			<input type="button" class="button" value="Add Items" />
		</section>
		<span class="saved">Saved</span>
	</fieldset>
</form>
{% endblock content %}
