{% extends 'page.html' %}

{% block title %}{{ project.name }}{% endblock title %}

{% block page_link %}{% if project.owner == request.user %}<a href="{% url "edit_project" project.id %}">Edit</a>{% endif %}{% endblock page_link %}

{% block content %}
<div class="project-details">
	<div class="group">
		<label>Users</label>
		<section>
			<ul>
				{% for user in project.users.all %}
				<li><b>{{ user.get_full_name }}</b></li>
				{% empty %}
				<li>Nobody yet. <a href="{% url "edit_project" project.id %}">Add some &rarr;</a></li>
				{% endfor %}
			</ul>
		</section>
	</div>

	<div class="group">
        <label>{{ project.items.all|length }} Item{% if project.items.all|length != 1 %}s{% endif %}</label>
		<section>
			<ul class="items">
                {% for item in project.items.all %}
                <li class="{{ item.status }}">
					<a href="{% url 'transcribe_item' project.id item.id %}">{{ item.name }}</a> &mdash; {{ item.type }} ({{ item.source_type }})
					{% if item.transcripts.all|length > 0 %}
					<ul>
                        {% for transcript in item.transcripts.all %}
                        <li class="{{ transcript.status }}"><a href="{% url 'transcribe_item' project.id item.id transcript.id %}">{{ transcript.date|date:"j M Y" }}</a> &mdash; {{ transcript.status }} &mdash; {{ transcript.owner }}</li>
                        {% endfor %}
					</ul>
                    {% endif %}
				</li>
                {% endfor %}
			</ul>
		</section>
	</div>

	{% if project.owner == request.user %}
	<div class="group">
		<label>Download</label>
		<section>
			<ul>
				<li><a href="">Download transcript</a> (text)</li>
				<li><a href="">Download transcript</a> (PDF)</li>
				<li><a href="">Download project history</a> (JSON)</li>
			</ul>
		</section>
	</div>

	<div class="group">
		<label>&nbsp;</label>
		<section>
			<ul>
				<li><a class="delete-project-link" href="">Delete project</a></li>
			</ul>
		</section>
	</div>
	{% endif %}
</div>

{% endblock content %}

{% block modal %}
<form class="delete-project">
	<a class="cancel-link">No, whoops, so sorry</a>
	<h2>Delete Project</h2>

	<p>Are you really, really sure you want to send this project to the chopping block?</p>

	<input type="submit" value="Heck Yes" data-id="{{ project.id }}" />
</form>
{% endblock modal %}
