{% extends 'page.html' %}

{% block title %}{{ project.name }}{% endblock title %}

{% block page_link %}{% if project.owner == request.user %}<a href="{% url "edit_project" project.id %}">Edit</a>{% endif %}{% endblock page_link %}

{% block content %}
<div class="project-details">
	<div class="group">
		<label>Status</label>
		<section>
			<article>{{ project.percentage_done }}% ({{ project.items_left }} items to be finished)</article>
			<div class="percentage"><div class="value" style="width: {{ project.percentage_done }}%;"></div></div>
		</section>
	</div>

	<div class="group">
		<label>Users</label>
		<section>
			<ul>
				{% for user in project.users.all %}
				<li>{{ user.get_full_name }}</li>
				{% empty %}
				<li>Nobody yet. <a href="{% url "edit_project" project.id %}">Add some &rarr;</a></li>
				{% endfor %}
			</ul>
		</section>
	</div>

	<div class="group">
        <label>{{ project.items.all|length }} Item{% if project.items.all|length != 1 %}s{% endif %}</label>
		<section>
			<ul class="items">
                {% for item in project.items.all %}
                <li class="{{ item.status }}">
					<a href="{% url 'transcribe_item' project.id item.id %}">{{ item.name }}</a> &mdash; {{ item.type }} ({{ item.source_type }})
					{% if item.transcripts.all|length > 0 %}
					<ul>
                        {% for transcript in item.transcripts.all %}
						<li class="{{ transcript.status }}">{{ transcript.status|title }} — {{ transcript.owner }} &mdash; <a href="{% url 'transcribe_item' project.id item.id transcript.id %}">{{ transcript.date|date:"j M Y" }}</a></li>
                        {% endfor %}
					</ul>
                    {% endif %}
				</li>
                {% endfor %}
			</ul>
		</section>
	</div>

	{% if project.owner == request.user %}
	<div class="group">
		<label>Downloads</label>
		<section>
			<ul>
				<li><a href="">Final transcript</a> (text)</li>
				<!--
				<li><a href="">Download transcript</a> (PDF)</li>
				<li><a href="">Download project history</a> (JSON)</li>
				-->
			</ul>
		</section>
	</div>
	{% endif %}
</div>
{% endblock content %}
