{% extends '_base.html' %}

{% block mainclass %}transcribe {% if request.user.layout == 'side_by_side' %}side-by-side{% else %}{{ request.user.layout }}{% endif %}{% endblock mainclass %}

{% block main %}
<header>
	<div class="left">
		<span class="toggle-lights">Light/Dark</span>
		<span class="toggle-layout">Switch Layout</span>
		{% if item.type == 'image' %}
		<span class="toggle-tools">Tools</span>

		<div class="tools-menu tools-{{ item.type }}">
			<div class="tool-group">
				<label>Zoom</label>
				<select>
					<option value="full">Full size</option>			
					<option value="40">40%</option>			
					<option value="60">60%</option>			
					<option value="80">80%</option>			
					<option value="100">100%</option>			
					<option value="120">120%</option>			
					<option value="140">140%</option>			
					<option value="160">160%</option>			
					<option value="180">180%</option>			
					<option value="200">200%</option>			
				</select>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="right">
		<label class="saved">Loaded</label>
		<span id="finish-button" class="finish-button" data-uri="{% url "home" %}">Finish</span>
		{% if item.project.items_left > 1 %}
		<span id="finish-continue-button" class="finish-button" data-uri="{% url "get_next_item" item.project.id %}">Finish &amp; Continue</span>
		{% endif %}
	</div>
</header>

<div class="wrapper">
	<div class="item {{ item.type }} {{ item.source_type }}">
		{% if item.type == 'image' %}
		<img src="{{ item.url }}" />
		{% elif item.type == 'audio' %}
		<div class="audio-wrapper">
			<audio src="{{ item.url }}" data-start-time="{{ item.audio_start }}" data-end-time="{{ item.audio_stop }}" />
		</div>
		<ul class="instructions">
			<li><b>Play/pause:</b> shift+space</li>
			<li><b>Jump to beginning:</b> ctrl+0</li>
			<li><b>Rewind 5 seconds:</b> ctrl+j</li>
			<li><b>Fast forward 5 seconds:</b> ctrl+k</li>
			<li><b>Rewind 30 seconds:</b> ctrl+h</li>
			<li><b>Fast forward 30 seconds:</b> ctrl+l</li>
		</ul>
		{% endif %}
	</div>
	<div class="transcript" data-project-id="{{ item.project.id }}" data-id="{{ item.id }}"{% if item.latest_transcript %} data-transcript-id="{{ item.latest_transcript.id }}"{% endif %}>
		<textarea autofocus>{{ text }}</textarea>
	</div>
</div>
{% endblock main %}
