{% extends '_base.html' %}

{% block mainclass %}transcribe side-by-side{% endblock mainclass %}

{% block main %}
<header>
	<div class="left">
		<span class="toggle-lights">Light/Dark</span>
		<span class="toggle-layout">Switch Layout</span>

		<div class="controls-image">

		</div>
	</div>
	<div class="right">
		<label class="saved">Saved 9:48 am</label>
		<span>Finish &amp; Continue</span>
		<span>Finish</span>
	</div>
</header>

<div class="wrapper">
	<div class="image">
		<img src="{{ item.url }}" />
	</div>
	<div class="transcript">
		<textarea spellcheck="false"></textarea>
	</div>
</div>
{% endblock main %}
