{% extends '_base.html' %}

{% block mainclass %}transcribe {% if request.user.layout == 'side_by_side' %}side-by-side{% else %}{{ request.user.layout }}{% endif %}{% endblock mainclass %}

{% block main %}
<header>
	<div class="left">
		<span class="toggle-lights">Light/Dark</span>
		<span class="toggle-layout">Switch Layout</span>

		<div class="controls-image">

		</div>
	</div>
	<div class="right">
		<label class="saved">Loaded</label>
		<span id="finish-continue-button">Finish &amp; Continue</span>
		<span id="finish-button">Finish</span>
	</div>
</header>

<div class="wrapper">
	<div class="image">
		<img src="{{ item.url }}" />
	</div>
	<div class="transcript" data-project-id="{{ item.project.id }}" data-id="{{ item.id }}">
		<textarea spellcheck="false">{{ text }}</textarea>
	</div>
</div>
{% endblock main %}
